@model IEnumerable<inmobiliaria.Models.Inmueble>

@{
	ViewData["Title"] = "Index";
	var ltaPropietario = (IList<Propietario>)ViewBag.Propietario;

	var msj = TempData["Mensaje"] as string;
	var fechaIni = ViewBag.FechaIni;
	var fechaFi = ViewBag.FechaF;
}

<h1 class="mb-4">Listado de Inmuebles</h1>

@if (!string.IsNullOrEmpty(msj))
{
	<div class="alert alert-info">@msj</div>
}

<p>
	<a asp-action="Create" class="btn btn-success">Crear nuevo</a>
</p>


<div class="d-flex flex-wrap gap-3 mb-4">


	<div class="card flex-fill" style="min-width: 60%;">
		<div class="card-header bg-dark text-white">
			<strong>Filtros de búsqueda</strong>
		</div>
		<div class="card-body bg-dark text-white">
			<form class="form-row justify-content-start">
				<div class="form-group col-md-4">
					<label for="ambientesSelect">Ambientes</label>
					<select id="ambientesSelect" class="form-control" name="ambientes">
						<option value="">------</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</div>
				<div class="form-group col-md-4">
					<label for="tipoSelect">Tipo</label>
					<select id="tipoSelect" class="form-control" name="tipo">
						<option value="">------</option>
						<option value="Departamento">Departamento</option>
						<option value="Casa">Casa</option>
						<option value="Local">Local</option>
						<option value="Galpon">Galpon</option>
					</select>
				</div>
				<div class="form-group col-md-4">
					<label for="propietarioSelect">Propietario</label>
					<select id="propietarioSelect" class="form-control" name="propietarioId">
						<option value="">------</option>
						@foreach (var item in ltaPropietario)
						{
							<option value="@item.Id">@item.ToString()</option>
						}
					</select>
				</div>
				<div class="form-group col-md-12 mt-2">
					<button type="button" class="btn btn-outline-light w-100" onclick="buscarPor()">Buscar</button>
				</div>
			</form>
		</div>
	</div>


	<div class="card" style="min-width: 35%;">
		<div class="card-header bg-dark text-white">
			<strong>Filtros por Fecha de Contrato</strong>
		</div>
		<div class="card-body bg-dark text-white">
			<form>
				<div class="form-group">
					<label for="fechaInicioSelect">Fecha Inicio</label>
					<input id="fechaInicioSelect" type="date" class="form-control" />
				</div>
				<div class="form-group mt-3">
					<label for="fechaFinSelect">Fecha Fin</label>
					<input id="fechaFinSelect" type="date" class="form-control" />
				</div>
				<button type="button" class="btn btn-outline-light w-100 mt-3" onclick="buscarPorFecha()">Buscar por Fechas</button>
			</form>
		</div>
	</div>

</div>



<div class="table-responsive">
	<table class="table  table-bordered table-hover table-striped align-middle">
		<thead class="thead-dark">
			<tr>
				<th rowspan="2">@Html.DisplayNameFor(model => model.Id)</th>
				<th rowspan="2">@Html.DisplayNameFor(model => model.Direccion)</th>
				<th rowspan="2">@Html.DisplayNameFor(model => model.Ambientes)</th>
				<th rowspan="2">@Html.DisplayNameFor(model => model.Superficie)</th>
				<th rowspan="2">@Html.DisplayNameFor(model => model.Uso)</th>
				<th rowspan="2">@Html.DisplayNameFor(model => model.Tipo)</th>
				<th rowspan="2">@Html.DisplayNameFor(model => model.Precio)</th>
				<th rowspan="2">@Html.DisplayNameFor(model => model.PropietarioId)</th>
				<th colspan="2" class="text-center">Ultimo contrato</th>
				<th rowspan="2">Acciones</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@Html.DisplayFor(modelItem => item.Id)</td>
					<td>@Html.DisplayFor(modelItem => item.Direccion)</td>
					<td>@Html.DisplayFor(modelItem => item.Ambientes)</td>
					<td>@Html.DisplayFor(modelItem => item.Superficie)</td>
					<td>@Html.DisplayFor(modelItem => item.Uso)</td>
					<td>@Html.DisplayFor(modelItem => item.Tipo)</td>
					<td>@Html.DisplayFor(modelItem => item.Precio)</td>
					<td>@(item.Duenio != null ? item.Duenio.ToString() : "Sin dueño")</td>
					<td>@(item.ContratoInmueble?.FechaInicio != null ? item.ContratoInmueble.FechaInicio.ToString("yyyy-MM-dd") : "-")</td>
					<td>@(item.ContratoInmueble?.FechaFin != null ? item.ContratoInmueble.FechaFin.ToString("yyyy-MM-dd") : "-")</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id" style="margin-right:10px;"> <i class="fa-solid fa-pen"></i></a>
						<a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-sm btn-danger mb-1">Eliminar</a>
						<a asp-action="Create" asp-controller="Contrato" asp-route-id="@item.Id"
						   asp-route-fechaInicio="@(fechaIni != null ? fechaIni.ToString("yyyy-MM-dd") : "")"
						   asp-route-fechaFin="@(fechaFi != null ? fechaFi.ToString("yyyy-MM-dd") : "")"
						   class="btn btn-sm btn-success mb-1">Crear contrato</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section Scripts {
	<script>
		function buscarPor() {
			var propietarioId = document.getElementById('propietarioSelect').value;
			var ambientes = document.getElementById('ambientesSelect').value;
			var tipo = document.getElementById('tipoSelect').value;

			window.location.href = '/Inmueble/buscarPor?tipo=' + tipo + "&cantidad=" + ambientes + "&propietarioId=" + propietarioId
		}

		function buscarPorFecha() {
			var fechaI = document.getElementById('fechaInicioSelect').value;
			var fechaF = document.getElementById('fechaFinSelect').value;

			if (fechaI && fechaF) {
				window.location.href = '/Inmueble/porFechaContrato?fechaInicio=' + encodeURIComponent(fechaI) + '&fechaFin=' + encodeURIComponent(fechaF);
			}
		}
	</script>
}
