@model IEnumerable<inmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">Listado de Contratos</h1>

<div class="mb-3 d-flex justify-content-between align-items-center">
    <a class="btn btn-success" asp-action="Create">Crear Nuevo Contrato</a>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped align-middle">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Monto)</th>
                <th>@Html.DisplayNameFor(model => model.FechaInicio)</th>
                <th>@Html.DisplayNameFor(model => model.FechaFin)</th>
                <th>Inquilino</th>
                <th>Inmueble</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Monto)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaInicio)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaFin)</td>
                    <td>@item.Inqui.ToString()</td>
                    <td>@item.Inmue.ToString()</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" title="Editar">
                                Editar
                            </a>
                            <a asp-action="Finalizar" asp-route-id="@item.Id" class="btn btn-danger" title="Finalizar Contrato">
                                Finalizar Contrato
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
